<div class="detailPage">
	<% if( typeof data[0].Image.data != 'undefined' ){ %>
	<img src="/images/<%=data[0].Image.data %>" alt="" /> <% } else{ %>
	<img src="<%= data[0].Image %>" alt="" />
	<% } %>
	<div>
		<h1><%- data[0].Title %></h1>
		<p><%= data[0].Genre %> | <%= data[0].Year %></p>
	</div>

	<p><%= data[0].Artist %></p>
	<p><%= data[0].Description %></p>

	<a href="javascript:history.back()"> <img src="../images/arrow.png" alt="" /></a>

	<%- include('navigation') %>
</div>
