<div class="all">
	<% if(data.length > 0){ %>
	<h2>Latest</h2>
	<form action="/all" method="post" class="search">
		<label for="search"></label>
		<input type="text" id="search" name="search" placeholder="Search" />
		<button type="submit"><img src="../images/search.png" alt="" /></button>
	</form>
	<% if(data.length < 20){ %> <a href="/all">Clear Search</a> <% } else{ %>
	<div></div>
	<% } %> <% } else{ %> <% } %> <% if(data.length > 0){ %> <% for(let i = 0; i < data.length;
	i++){ %>

	<a class="albumCard" id="albumcard" href="results<%= data[i]._id %>">
		<% if( typeof data[i].Image.data != 'undefined' ){ %>
		<div
			class="albumImage lazy-background fallback"
			style="background-image: url('/images/<%= data[i].Image.data %>')"
		></div>

		<% } else{ %>
		<div
			class="albumImage lazy-background fallback"
			style="background-image: url('<%= data[i].Image %>')"
		></div>
		<% } %>
		<div>
			<p><%= data[i].Title %></p>
			<p><%= data[i].Genre %> | <%= data[i].Year %></p>
		</div>

		<p><%= data[i].Artist %></p>

		<div class="heart">
			<form action="favorites<%= data[i]._id %>" method="POST">
				<label for="<%= data[i]._id %>">
					<% if(data[i].Like === true > 0){ %>
					<i onclick="toggle(this)" class="fa fa-heart"></i>
					<% } else{ %>
					<i onclick="toggle(this)" class="fa fa-heart-o"></i>
					<% } %>
				</label>
				<input
					id="<%= data[i]._id %>"
					name="Like"
					type="submit"
					value="<%= data[i]._id %>"
				/>
			</form>
		</div>
		<a href="/deleteModal<%= data[i]._id %>">
			<img class="delete" src="../images/delete.png" alt=""
		/></a>
	</a>

	<% } %> <% } else{ %>
	<div class="noData">
		<p>There are no results that matches your search</p>
		<a href="/all">Go Back</a>
	</div>

	<% } %> <%- include('navigation') %>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const lazyBackgrounds = [].slice.call(document.querySelectorAll('.lazy-background'))

		if ('IntersectionObserver' in window) {
			let lazyBackgroundObserver = new IntersectionObserver(function (entries, observer) {
				entries.forEach(function (entry) {
					if (entry.isIntersecting) {
						entry.target.classList.remove('fallback')
						lazyBackgroundObserver.unobserve(entry.target)
					}
				})
			})

			lazyBackgrounds.forEach(function (lazyBackground) {
				lazyBackgroundObserver.observe(lazyBackground)
			})
		}
	})

	const toggle = heart => {
		if (heart.classList.contains('fa-heart')) {
			heart.classList.remove('fa-heart')
			heart.classList.add('fa-heart-o')
		} else {
			heart.classList.remove('fa-heart-o')
			heart.classList.add('fa-heart')
		}
	}
</script>
